
#numberinputbox
{
    border: 1px solid #B80000 ;
    border-radius: 15px;
    margin-left: 0.8em;
    margin-right : auto;
    margin-top: 0.5em;
    background:white;
    color: red;
    font-weight: bold;
    font-size: 22px;    
    padding: 8px;
    
}
#addfriendsbutton
{
        background-color: #B80000  ;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        margin-left: 2.5em;
        margin-top: 0.5em;
       
    
}
#switchsettings
{
        
        margin-left: 0.5em;
        margin-top: 1.00em;
    
}
#locationswitchspan
{
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;        
        margin-left: 0.5em;        
        margin-top: 0.5em;  
       
        
    
}
#modeswitchspan
{
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;        
        margin-left: 0.5em;        
        margin-top: 4.5em;  
      
}


#friendviewlist 
{
     margin-top: 1.5em;
     height : 100px;
}

#homeview .km-content{
    
    background-image: url('../appimages/bg1.png');
    background-size: auto 100%;
	background-repeat: repeat;
    color : black;
	
}
.m
{
     margin-left: 3.5em;
}
#settingsview .km-content{
    
    background-image: url('../appimages/bg1.png');
    background-size: auto 100%;
	background-repeat: repeat;
    color : black;
	
}
#resourceview .km-content{
    
    background-image: url('../appimages/bg1.png');
    background-size: auto 100%;
	background-repeat: repeat;
    color : black;
	
}
#reportview .km-content{
    
    background-image: url('../appimages/bg1.png');
    background-size: auto 100%;
	background-repeat: repeat;
    color : black;
	
}

#sendmessagebutton
{
        -webkit-transform: rotateX( 35deg );
        position: relative;
        display: inline-block;
        width: 250px;
        height : 250px;
        padding: 42px 15px;
        margin-left : 20px;;
        margin-right : auto;
        margin-top : 50px;
    
        background-color: #B80000  ;
        color: #fff;
        font-weight: bold;
        font-size: 80px;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

        border: 1px solid;
        border-color: #B21522;
        border-radius: 100%;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100x;

        box-shadow: 		inset 0px -4px 5px rgba(255,255,255,0.2),
                            inset 0px 1px 5px rgba(255,255,255,0.2),
                            /**/
                            0px 12px 0px #231F20,
                            0px 14px 0px #231F20,
                            0px 16px 0px #231F20,
                            /**/
                            0px 8px 5px rgba(0,0,0,0.5);

        -moz-box-shadow: 	inset 0px -4px 5px rgba(255,255,255,0.2),
                            inset 0px 1px 5px rgba(255,255,255,0.2),
                            /**/
                            0px 12px 0px #231F20,
                            0px 14px 0px #231F20,
                            0px 16px 0px #231F20,
                            /**/
                            0px 8px 5px rgba(0,0,0,0.5);

        -webkit-box-shadow: inset 5px -4px 5px rgba(255,255,255,0.2),
                            inset 5px 1px 5px rgba(255,255,255,0.2),
                            /**/
                            0px 12px 0px #231F20,
                            0px 14px 0px #231F20,
                            0px 16px 0px #231F20;

}



